# LangChain Core
langchain
langchain-core
langgraph
langgraph-checkpoint-sqlite
# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

langchain-groq
langchain-text-splitters

langchain-community
pandas
langchain-cohere
cohere
pypdf
faiss-cpu

langgraph-checkpoint
aiosqlite

pydantic

streamlit  
requests
youtube-transcript-api
sentence-transformers
langchain-huggingface
yt-dlp

fastapi
uvicorn